@model EventVM
@{
    ViewData["Title"] = "Index";
}

<!--HeaderTop Start-->
<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="header-top-left">
                    <p>HAVE ANY QUESTION ?  +880 5698  598  6587</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="header-top-right text-right">
                    <ul>
                        <li><a asp-controller="Account" asp-action="Login">login</a></li>
                        <li><a asp-controller="Account" asp-action="Register">signup</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--HeaderTop End-->

<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>event</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Event Start -->
<div class="event-area three text-center pt-150 pb-150">
    <div class="container">
        <div class="row">
            @foreach (Event e in Model.Events)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-event mb-60">
                        <div class="event-img">
                            <a asp-controller="Event" asp-action="Details" asp-route-id="@e.Id">
                                <img src="~/img/event/@e.Image" alt="event">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                            <div class="event-date">
                                <h3>20 <span>jun</span></h3>
                            </div>
                        </div>
                        <div class="event-content text-left">
                            <h4><a asp-controller="Event" asp-action="Details" asp-route-id="@e.Id">@e.Title</a></h4>
                            <ul>
                                <li><span>time:</span> 9.00 AM - 4.45 PM</li>
                                <li><span>venue</span> @e.Venue</li>
                            </ul>
                            <div class="event-content-right">
                                <a asp-controller="Event" asp-action="Details" asp-route-id="@e.Id">join now</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Event End -->
