@model TeacherDetailsVM
@{
    ViewData["Title"] = "Details";
}

@await Component.InvokeAsync("Header")

<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>teachers / details</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Teacher Start -->
<div class="teacher-details-area pt-150 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="teacher-details-img">
                    <img src="~/img/teacher/@Model.TeacherBasicInfo.Image" alt="teacher">
                </div>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="teacher-details-content ml-50">
                    <h2>@Model.TeacherBasicInfo.Name</h2>
                    <h5>@Model.TeacherBasicInfo.Position</h5>
                    <h4>about me</h4>
                    <p>@Model.TeacherBasicInfo.Description</p>
                    <ul>
                        <li><span>degree: </span>@Model.TeacherBasicInfo.Degree</li>
                        <li><span>experience: </span>@Model.TeacherBasicInfo.Experience</li>
                        <li><span>hobbies: </span>@Model.TeacherBasicInfo.Hobbies</li>
                        <li><span>faculty: </span>@Model.TeacherBasicInfo.Faculty</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-4">
                <div class="teacher-contact">
                    <h4>contact information</h4>
                    <p><span>mail me : </span>@Model.TeacherContactInfo.Email</p>
                    <p><span>make a call : </span>(+125) 5896 548 9874</p>
                    <p><span>skype : </span>@Model.TeacherContactInfo.Skype</p>
                    <ul>
                        <li><a @Model.TeacherContactInfo.Facebook><i class="zmdi zmdi-facebook"></i></a></li>
                        <li><a @Model.TeacherContactInfo.Pinterest><i class="zmdi zmdi-pinterest"></i></a></li>
                        <li><a href="#"><i class="zmdi zmdi-vimeo"></i></a></li>
                        <li><a @Model.TeacherContactInfo.Twitter "><i class="zmdi zmdi-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9 col-sm-8">
                <div class="skill-area">
                    <h4>skills</h4>
                </div>
                <div class="skill-wrapper">
                    <div class="row">
                        @foreach (TeacherSkill skill in Model.TeacherSkills)
                        {
                            <div class="col-sm-4">
                                <div class="skill-bar-item">
                                    <span>@skill.Name</span>
                                    <div class="progress">
                                        <div data-wow-delay="1.2s" data-wow-duration="1.5s" style="@skill.CompletedPercent; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-progress="50%" class="progress-bar wow fadeInLeft">
                                            <span class="text-top">@skill.Percent%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Teacher End -->

@await Component.InvokeAsync("Subscribe")
