@model HomeVM
@{
    ViewData["Title"] = "Index";
}

<!-- Background Area Start -->
<section id="slider-container" class="slider-area">
    <div class="slider-owl owl-theme owl-carousel">
        @foreach (Slider slide in Model.Sliders)
        {
            <!-- Start Slingle Slide -->
            <div class="single-slide item" style="background-image: url(img/slider/@slide.Image)">
                <!-- Start Slider Content -->
                <div class="slider-content-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 col-md-offset-left-5">
                                <div class="slide-content-wrapper">
                                    <div class="slide-content">
                                        @Html.Raw(slide.Title)
                                        <p>@slide.Description </p>
                                        <a class="default-btn" asp-controller="About" asp-action="Index">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Slider Content -->
            </div>
            <!-- End Slingle Slide -->
        }

    </div>
</section>
<!-- Background Area End -->
<!-- Notice Start -->
<section class="notice-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-left">
                    <h3>@Model.NoticeBoards.ElementAt(0).Title</h3>
                    @foreach (NoticeBoard nb in Model.NoticeBoards)
                    {
                        <div class="single-notice-left mb-25 pb-25">
                            <h4>@nb.Time</h4>
                            <p>@nb.Description</p>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-right">
                    @foreach (SectionDescription sd in Model.SectionDescriptions)
                    {
                        <div class="single-notice-right mb-25 pb-25">
                            <h3>@sd.Title</h3>
                            <p>@sd.Description</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Notice End -->
<!-- Choose Start -->
<section class="choose-area pb-85 pt-77">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-left-4 col-sm-8 col-md-offset-left-4">
                <div class="choose-content text-left">
                    <h2>@Model.ChooseEduHome.Title</h2>
                    @Html.Raw(Model.ChooseEduHome.Description)
                    <a class="default-btn" href="course-details.html">view courses</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Choose Area End -->
<!-- Courses Area Start -->
<div class="courses-area pt-150 text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="img/icon/section.png" alt="section-title">
                    <h2>COURSES WE OFFER</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (CoursesWeOffer cwo in Model.CoursesWeOffers)
            {
               <div class="col-md-4 col-sm-6 col-xs-12">
                 <div class="single-course">
                    <div class="course-img">
                        <a href="course-details.html">
                            <img src="~/img/course/@cwo.Image" alt="course">
                            <div class="course-hover">
                                <i class="fa fa-link"></i>
                            </div>
                        </a>
                    </div>
                    <div class="course-content">
                        <h3><a href="course-details.html">@cwo.Title</a></h3>
                        <p>@cwo.Description</p>
                        <a class="default-btn" href="course-details.html">read more</a>
                    </div>
                  </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Courses Area End -->
<!-- Event Area Start -->
<div class="event-area one text-center pt-140 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="~/img/icon/section.png" alt="section-title">
                    <h2>UPCOMMING EVENTS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (UpcomingEvent ue in Model.UpcomingEvents)
            {
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="single-event mb-35">
                        <div class="event-date">
                            <h3><a href="event-details.html">20 <span>June</span></a></h3>
                        </div>
                        <div class="event-content text-left">
                            <div class="event-content-left">
                                <h4><a href="event-details.html">@ue.Title</a></h4>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i>9.00 AM - 4.45 PM</li>
                                    <li><i class="fa fa-map-marker"></i>@ue.Location</li>
                                </ul>
                            </div>
                            <div class="event-content-right">
                                <a class="default-btn" href="event-details.html">join now</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Event Area End -->
<!-- Testimonial Area Start -->
<div class="testimonial-area pt-110 pb-105 text-center">
    <div class="container">
        <div class="row">
            <div class="testimonial-owl owl-theme owl-carousel">
                @foreach (Student stu in Model.Students)
                {

                    <div class="col-md-8 col-md-offset-2 col-sm-12">
                        <div class="single-testimonial">
                            <div class="testimonial-info">
                                <div class="testimonial-img">
                                    <img src="~/img/testimonial/@stu.Image" alt="testimonial">
                                </div>
                                <div class="testimonial-content">
                                    <p>@stu.Description</p>
                                    <h4>@stu.Name</h4>
                                    <h5>@stu.Position</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
         </div>
    </div>
</div>
<!-- Testimonial Area End -->
<!-- Blog Area Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <img src="~/img/icon/section.png" alt="section-title">
                    <h2>LATEST FROM BLOG</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (LatestFromBlog lfb in Model.LatestFromBlogs)
            {

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-blog">
                    <div class="blog-img">
                        <a href="blog-details.html"><img src="~/img/blog/@lfb.Image" alt="blog"></a>
                        <div class="blog-hover">
                            <a href="blog-details.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="blog-top">
                            <p>@lfb.Composer  /  June 20, 2017  /  <i class="fa fa-comments-o"></i> 4</p>
                        </div>
                        <div class="blog-bottom">
                            <h2><a href="blog-details.html">@lfb.Description </a></h2>
                            <a href="blog-details.html">read more</a>
                        </div>
                    </div>
                </div>
            </div>
            }  
        </div>
    </div>
</div>
<!-- Blog Area End -->