@model CoursesDetailsVM
@{
    ViewData["Title"] = "Details";
}

<!--HeaderTop-->
<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="header-top-left">
                    <p>HAVE ANY QUESTION ?  +880 5698  598  6587</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="header-top-right text-right">
                    <ul>
                        <li><a href="login.html">login</a></li>
                        <li><a href="signup.html">signup</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--HeaderTop-->
<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>courses details</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Blog Start -->
<div class="courses-details-area blog-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="courses-details">
                    @*<div class="courses-details-img">
                        <img src="img/course/@Model.CourseFeature.CoursesWeOffer.Image" alt="courses-details">
                    </div>*@
                    <div class="course-details-content">
                        <h2>@Model.CourseFeature.Title</h2>
                        <p>@Model.CourseFeature.AboutCourse</p>
                        <div class="course-details-left">
                            <div class="single-course-left">
                                <h3 class="pt-40">@Model.CourseFeature.Title</h3>
                                @Html.Raw(@Model.CourseFeature.Certification)
                            </div>
                            <div class="single-course-left">
                                <h3 class="pt-40">@Model.CourseFeature.Title</h3>
                                @Html.Raw(@Model.CourseFeature.HowToApply)
                            </div>
                            <div class="single-course-left">
                                <h3 class="pt-40">@Model.CourseFeature.Title</h3>
                                @Html.Raw(@Model.CourseFeature.HowToApply)
                            </div>
                        </div>
                        <!-- CourseFeatures Start -->
                        <div class="course-details-right">
                            <h3>COURSE FEATURES</h3>
                            <ul>
                                <li>Starts <span>@Model.CourseFeature.Starts</span></li>
                                <li>Duration <span>@Model.CourseFeature.Duration</span></li>
                                <li>Class Duration <span>@Model.CourseFeature.ClassDuration</span></li>
                                <li>Skill Level <span>@Model.CourseFeature.SkillLevel</span></li>
                                <li>Language <span>@Model.CourseFeature.Language</span></li>
                                <li>Students <span>@Model.CourseFeature.Students</span></li>
                                <li>Assesments <span>@Model.CourseFeature.Assesments</span></li>
                            </ul>
                            <h3 class="red">course fee <span>$@Model.CourseFeature.CourseFee</span></h3>
                        </div>
                        <!-- CourseFeatures Start -->
                    </div>
                    <!-- PeplyArea Start -->
                    <div class="reply-area">
                        <h3>LEAVE A REPLY</h3>
                        <p>I must explain to you how all this a mistaken idea of ncing great explorer of the rut<br> the is lder of human happinescias unde omnis iste natus error sit volptatem </p>
                        <form id="contact-form" action="http://demo.devitems.com/eduhome/mail.php" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Name</p>
                                    <input asp-for="LeaveMessage.Name" type="text" name="name" id="name">
                                </div>
                                <div class="col-md-12">
                                    <p>Email</p>
                                    <input asp-for="LeaveMessage.Email" type="text" name="email" id="email">
                                </div>
                                <div class="col-md-12">
                                    <p>Subject</p>
                                    <input asp-for="LeaveMessage.Subject" type="text" name="subject" id="subject">
                                    <p>Massage</p>
                                    <textarea asp-for="LeaveMessage.Message" name="message" id="message" cols="15" rows="10"></textarea>
                                </div>
                            </div>
                            <a class="reply-btn" data-text="send"><span>send message</span></a>
                            <p class="form-messege"></p>
                        </form>
                    </div>
                    <!-- PeplyArea End -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-sidebar right">
                    <div class="single-blog-widget mb-50">
                        <h3>search</h3>
                        <div class="blog-search">
                            <form id="search" action="#">
                                <input type="search" placeholder="Search..." name="search" />
                                <button type="submit">
                                    <span><i class="fa fa-search"></i></span>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="single-blog-widget mb-50">
                        <h3>categories</h3>
                        <ul>
                            @foreach (Category ctg in Model.Categories)
                            {
                                <li><a href="#">@ctg.Name (@ctg.Count)</a></li>
                            }
                        </ul>
                    </div>
                    <div class="single-blog-widget mb-50">
                        <div class="single-blog-banner">
                            <a asp-controller="BlogDetails" asp-action="Index" id="blog"><img src="img/blog/@Model.BlogBanner.Image" alt="blog"></a>
                            @Html.Raw(Model.BlogBanner.Title)
                        </div>
                    </div>
                    <div class="single-blog-widget mb-50">
                        <h3>latest post</h3>
                        @foreach (Post post in Model.Posts)
                        {
                            <div class="single-post mb-30">
                                <div class="single-post-img">
                                    <a asp-controller="BlogDetails" action="Index">
                                        <img src="~img/post/@post.Image" alt="post">
                                        <div class="blog-hover">
                                            <i class="fa fa-link"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="single-post-content">
                                    <h4><a asp-controller="BlogDetails" action="Index">@post.Description</a></h4>
                                    <p>@post.Composer  /  June 20, 2017</p>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="single-blog-widget">
                        <h3>tags</h3>
                        <div class="single-tag">
                            @foreach (Tag tag in Model.Tags)
                            {
                                <a asp-controller="BlogDetails" asp-action="Index" class="mr-10 mb-10">@tag.Name</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->
