@model AboutVM
@{
    ViewData["Title"] = "Index";
}

<!--HeaderTop Start-->
<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="header-top-left">
                    <p>HAVE ANY QUESTION ?  +880 5698  598  6587</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="header-top-right text-right">
                    <ul>
                        <li><a asp-controller="Account" asp-action="Login">login</a></li>
                        <li><a asp-controller="Account" asp-action="Register">signup</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--HeaderTop End-->

<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>about us</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- About Start -->
<div class="about-area pt-145 pb-155">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="about-content">
                    @Html.Raw(Model.WelcomeToEduHome.Title)
                    @Html.Raw(Model.WelcomeToEduHome.Description)
                    <a asp-controller="Courses" asp-action="Index">view courses</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="about-img">
                    <img src="img/about/@Model.WelcomeToEduHome.Image" alt="about">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Teacher Start -->
<div class="teacher-area pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <img src="~/img/icon/section.png" alt="title">
                    <h2>meet our teachers</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (OurTeacher t in Model.OurTeachers)
            {
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="single-teacher">
                        <div class="single-teacher-img">
                            <a asp-controller="Teacher" asp-action="Details" asp-route-id="@t.Id"><img src="~/img/teacher/@t.Image" alt="teacher"></a>
                        </div>
                        <div class="single-teacher-content text-center">
                            <h2><a asp-controller="Teacher" asp-action="Details" asp-route-id="@t.Id">@t.Name</a></h2>
                            <h4>@t.Position</h4>
                            <ul>
                                <li><a href="@t.Facebook"><i class="zmdi zmdi-facebook"></i></a></li>
                                <li><a href="@t.Pinterest"><i class="zmdi zmdi-pinterest"></i></a></li>
                                <li><a href="#"><i class="zmdi zmdi-vimeo"></i></a></li>
                                <li><a href="@t.Twitter"><i class="zmdi zmdi-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Teacher End -->
<!-- Testimonial Area Start -->
<div class="testimonial-area pt-110 pb-105 text-center">
    <div class="container">
        <div class="row">
            <div class="testimonial-owl owl-theme owl-carousel">
                @foreach (Student stu in Model.Students)
                {

                    <div class="col-md-8 col-md-offset-2 col-sm-12">
                        <div class="single-testimonial">
                            <div class="testimonial-info">
                                <div class="testimonial-img">
                                    <img src="~/img/testimonial/@stu.Image" alt="testimonial">
                                </div>
                                <div class="testimonial-content">
                                    <p>@stu.Description</p>
                                    <h4>@stu.Name</h4>
                                    <h5>@stu.Position</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Testimonial Area End -->
<!-- Notice Start -->
<section class="notice-area two pt-140 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-right-wrapper mb-25 pb-25">
                    <h3>@Model.TakeAVideoTour.Title</h3>
                    <div class="notice-video">
                        <div class="video-icon video-hover">
                            <a class="video-popup" href="@Model.TakeAVideoTour.Video">
                                <i class="zmdi zmdi-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="notice-left-wrapper">
                    <h3>@Model.NoticeBoards.ElementAt(0).Title</h3>
                    <div class="notice-left">
                        @foreach (NoticeBoard nb in Model.NoticeBoards)
                        {
                            <div class="single-notice-left mb-25 pb-25">
                                <h4>@nb.Time</h4>
                                <p>@nb.Description</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Notice End -->