@model BlogVM
@{
    ViewData["Title"] = "Index";
}

<!--HeaderTop Start-->
<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="header-top-left">
                    <p>HAVE ANY QUESTION ?  +880 5698  598  6587</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="header-top-right text-right">
                    <ul>
                        <li><a href="login.html">login</a></li>
                        <li><a href="signup.html">signup</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--HeaderTop End-->

<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>blog</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Blog Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            @foreach (LatestFromBlog b in Model.LatestFromBlogs)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-blog mb-60">
                        <div class="blog-img">
                            <a href="blog-details.html"><img src="~/img/blog/@b.Image" alt="blog"></a>
                            <div class="blog-hover">
                                <i class="fa fa-link"></i>
                            </div>
                        </div>
                        <div class="blog-content">
                            <div class="blog-top">
                                <p>@b.Composer  /  June 20, 2017  /  <i class="fa fa-comments-o"></i> 4</p>
                            </div>
                            <div class="blog-bottom">
                                <h2><a href="blog-details.html">@b.Description </a></h2>
                                <a href="blog-details.html">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row justify-content-center">
            <!--Pagination Start-->
            <nav aria-label="...">
                <ul class="pagination pagination-sm">
                    @for (int i = 1; i < ViewBag.PageCount; i++)
                    {
                        if (i == ViewBag.Page)
                        {
                            <li class="page-item disabled">
                                <a class="page-link" href="#">@i</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" asp-controller="Blog" asp-action="Index" asp-route-page="@i">@i</a>
                            </li>
                        }
                    }
                </ul>
            </nav>
            <!--Pagination End-->
        </div>
    </div>
</div>
<!-- Blog End -->
